version: '3.9'
networks:
  moer-databases:
    external: true
services:
  moer-backend:
    env_file:
      - './.env'
    container_name: 'moer-backend'
    volumes:
      - moer-backend_data:/app/store
    build:
      context: ../../
      dockerfile: Dockerfile
      target: runner
    ports:
      - 8080:8080
    networks:
      - moer-databases
    labels:
      - "traefik.enable=true"
      - "traefik.docker.network=traefik_proxy"
      - "traefik.http.routers.moer.rule=Host(`api.moer.mingodesk.com`)"
      - "traefik.http.routers.moer.tls=true"
      - "traefik.http.routers.moer.tls.certResolver=letsencrypt"
volumes:
  moer-backend_data:
